<template>
  <div id="map2">
    <h1>Carte des sondes sélectionnées</h1>
    <v-map :zoom=0 :center="[0, 0]" id="map1">
      <v-tilelayer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></v-tilelayer>
      <v-marker :lat-lng="[1, 0]" v-if="sonde1f"></v-marker>
      <v-marker :lat-lng="[2, 0]" v-if="sonde2f"></v-marker>
      <v-marker :lat-lng="[3, 0]" v-if="sonde3f"></v-marker>
      <v-marker :lat-lng="[4, 0]" v-if="sonde4f"></v-marker>
      <v-marker :lat-lng="[5, 0]" v-if="sonde5f"></v-marker>
    </v-map>

  </div>
</template>

<script>
export default {
  name: 'Carte',
  computed: {
    sonde1f () {
      if (this.$store.state.sondes.includes('1')) {
        return true
      } else {
        return false
      }
    },
    sonde2f () {
      if (this.$store.state.sondes.includes('2')) {
        return true
      } else {
        return false
      }
    },
    sonde3f () {
      if (this.$store.state.sondes.includes('3')) {
        return true
      } else {
        return false
      }
    },
    sonde4f () {
      if (this.$store.state.sondes.includes('4')) {
        return true
      } else {
        return false
      }
    },
    sonde5f () {
      if (this.$store.state.sondes.includes('5')) {
        return true
      } else {
        return false
      }
    }
  }
}
</script>

<style scoped>
  #map2{
    width: 500px;
    height: 250px;
    position: relative;
    background-color: Gainsboro;
    border-radius: 5px;
  }
  h1{
    text-align: center;
    margin-top: 3px;
    font-family: Comic Sans MS;
    font-size: 25px;
  }

  .vue2leaflet-map {
    width: 496px;
    height: 196px;
    position: absolute;
    left: 2px;
    bottom: 2px;
    overflow:hidden;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
</style>
