<template>
  <div id="div2">
    <div class="block">
      <Carte v-if="this.$store.state.carte"/>
    </div>
    <div class="block">
      <Temperature v-if="this.$store.state.temps1"/>
    </div>
    <div class="block">
      <Hygrometrie v-if="this.$store.state.hygros1"/>
    </div>
    <div class="block">
      <Pression v-if="this.$store.state.presss1"/>
    </div>
  </div>
</template>

<script>
import Carte from '@/components/Carte'
import Temperature from '@/components/Temperature'
import Hygrometrie from '@/components/Hygrometrie'
import Pression from '@/components/Pression'

export default {
  name: 'Corps',
  components: {
    Carte,
    Temperature,
    Hygrometrie,
    Pression
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#div2{
  width: 80%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.block{
  position: relative;
  margin-left: 5px;
}
</style>
