<template>
  <div id="temp">
    <h1>Température</h1>
    <h2>Sonde 1</h2>
    <p>130 °C</p>
  </div>
</template>

<script>
export default {
  name: 'Temperature'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#temp {
  width: 230px;
  height: 250px;
  position: relative;
  background-color: Gainsboro;
  border-radius: 5px;
}
h1{
  text-align: center;
  margin-top: 3px;
  font-family: Comic Sans MS;
  font-size: 25px;
}
h2{
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 20px;
}
p{
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 40px;
  margin-top: 60px;
}
</style>
