<template>
  <div id="lumC">
    <h1>Luminosité</h1>
    <div class="c2">
      <span>Sonde 1  - </span>
      <span v-if="this.$store.state.lumis1">    {{res1[0].luminosity}} W</span>
    </div>
    <div class="c2">
      <span>Sonde 2  - </span>
      <span v-if="this.$store.state.lumis2">    {{res2[0].luminosity}} W</span>
    </div>
    <div class="c2">
      <span>Sonde 3  - </span>
      <span v-if="this.$store.state.lumis3">    {{res3[0].luminosity}} W</span>
    </div>
    <div class="c2">
      <span>Sonde 4  - </span>
      <span v-if="this.$store.state.lumis4">    {{res4[0].luminosity}} W</span>
    </div>
    <div class="c2">
      <span>Sonde 5  - </span>
      <span v-if="this.$store.state.lumis5">    {{res5[0].luminosity}} W</span>
    </div>
    <p class="dateE">{{res1[0].date}}</p>
  </div>
</template>

<script>
export default {
  name: 'CompLumi',
  props: ['res1', 'res2', 'res3', 'res4', 'res5', 'nb']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#lumC {
  width: 465px;
  height: 250px;
  position: relative;
  background-color: Gainsboro;
  border-radius: 5px;
}
h1{
  text-align: center;
  margin-top: 3px;
  font-family: Comic Sans MS;
  font-size: 25px;
}
.c2{
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 20px;
}
p{
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 40px;
  margin-top: 60px;
}
.dateE{
  text-align: right;
  font-size: 10px;
  margin-top: 44px;
  margin-right: 2px;
}
</style>
