<template>
  <div id="ventC">
    <h1>Vent - vitesse / direction</h1>
    <div class="c2">
      <span>Sonde 1  - </span>
      <span v-if="this.$store.state.vents1">    {{res1[0].wind_speed_avg}} m/s / {{Math.round(res1[0].wind_heading)}} °</span>
    </div>
    <div class="c2">
      <span>Sonde 2  - </span>
      <span v-if="this.$store.state.vents2">    {{res2[0].wind_speed_avg}} m/s / {{Math.round(res2[0].wind_heading)}} °</span>
    </div>
    <div class="c2">
      <span>Sonde 3  - </span>
      <span v-if="this.$store.state.vents3">    {{res3[0].wind_speed_avg}} m/s / {{Math.round(res3[0].wind_heading)}} °</span>
    </div>
    <div class="c2">
      <span>Sonde 4  - </span>
      <span v-if="this.$store.state.vents4">    {{res4[0].wind_speed_avg}} m/s / {{Math.round(res4[0].wind_heading)}} °</span>
    </div>
    <div class="c2">
      <span>Sonde 5  - </span>
      <span v-if="this.$store.state.vents5">    {{res5[0].wind_speed_avg}} m/s / {{Math.round(res5[0].wind_heading)}} °</span>
    </div>
    <p class="dateE">{{res1[0].date}}</p>
  </div>
</template>

<script>
export default {
  name: 'CompVent',
  props: ['res1', 'res2', 'res3', 'res4', 'res5', 'nb']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#ventC {
  width: 465px;
  height: 250px;
  position: relative;
  background-color: Gainsboro;
  border-radius: 5px;
}
h1{
  text-align: center;
  margin-top: 3px;
  font-family: Comic Sans MS;
  font-size: 25px;
}
.c2{
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 20px;
}
p{
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 40px;
  margin-top: 60px;
}
.dateE{
  text-align: right;
  font-size: 10px;
  margin-top: 44px;
  margin-right: 2px;
}
</style>
