<template>
  <div id="pluvioC">
    <h1>Pluviometrie</h1>
    <vue-c3 id="c3" :handler="handler"></vue-c3>
    <p class="dateE">{{(resr[0].date).split('T')[0]}}</p>
  </div>
</template>

<script>
import Vue from 'vue'
import VueC3 from 'vue-c3'

export default {
  name: 'CompPluvi',
  props: ['res1', 'res2', 'res3', 'res4', 'res5', 'resr'],
  components: {
    VueC3
  },
  data () {
    return {
      handler: new Vue()
    }
  },
  mounted () {
    // to init the graph call:
    const options = {
      data: {
        columns: [
          ['pluviometrieS1', parseFloat(this.res1[0]), parseFloat(this.res1[1]), parseFloat(this.res1[2]), parseFloat(this.res1[3]), parseFloat(this.res1[4]), parseFloat(this.res1[5])],
          ['pluviometrieS2', parseFloat(this.res2[0]), parseFloat(this.res2[1]), parseFloat(this.res2[2]), parseFloat(this.res2[3]), parseFloat(this.res2[4]), parseFloat(this.res2[5])],
          ['pluviometrieS3', parseFloat(this.res3[0]), parseFloat(this.res3[1]), parseFloat(this.res3[2]), parseFloat(this.res3[3]), parseFloat(this.res3[4]), parseFloat(this.res3[5])],
          ['pluviometrieS4', parseFloat(this.res4[0]), parseFloat(this.res4[1]), parseFloat(this.res4[2]), parseFloat(this.res4[3]), parseFloat(this.res4[4]), parseFloat(this.res4[5])],
          ['pluviometrieS5', parseFloat(this.res5[0]), parseFloat(this.res5[1]), parseFloat(this.res5[2]), parseFloat(this.res5[3]), parseFloat(this.res5[4]), parseFloat(this.res5[5])]
        ],
        types: {
          pluviometrieS1: 'bar',
          pluviometrieS2: 'bar',
          pluviometrieS3: 'bar',
          pluviometrieS4: 'bar',
          pluviometrieS5: 'bar'
        }
      },
      bar: {
        width: {
          ratio: 0.5
        }
      },
      axis: {
        x: {
          type: 'category',
          categories: ['00-04h', '04-08h', '08-12h', '12-16h', '16-20h', '20-24h']
        },
        y: {
          label: {
            text: 'nb of fall',
            position: 'outer-middle'
          }
        }
      }
    }
    this.handler.$emit('init', options)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#pluvioC {
  width: 465px;
  height: 250px;
  position: relative;
  background-color: Gainsboro;
  border-radius: 5px;
}
#c3{
  width: 461px;
  height: 210px;
  position: absolute;
  left: 0px;
  bottom: 20px;
}
h1{
  text-align: center;
  margin-top: 3px;
  font-family: Comic Sans MS;
  font-size: 25px;
}
h2{
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 20px;
}
p{
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 40px;
  margin-top: 60px;
}
.dateE{
  text-align: right;
  font-size: 10px;
  margin-top: -25px;
  margin-right: 2px;
}
</style>
