<template>
  <div id="div2">
    <div class="block">
      <Carte v-if="this.$store.state.carte"/>
    </div>
    <div class="block">
      <Temperature v-if="this.$store.state.temps1 && !this.$store.state.compar" v-bind:res="resm1" v-bind:nb="1"/>
    </div>
    <div class="block">
      <Hygrometrie v-if="this.$store.state.hygros1 && !this.$store.state.compar" v-bind:res="resm1" v-bind:nb="1"/>
    </div>
    <div class="block">
      <Pression v-if="this.$store.state.presss1 && !this.$store.state.compar" v-bind:res="resm1" v-bind:nb="1"/>
    </div>
    <div class="block">
      <Pluviometrie v-if="this.$store.state.pluvios1 && !this.$store.state.compar" v-bind:res="tab1" v-bind:resr="resr1" v-bind:nb="1"/>
    </div>
    <div class="block">
      <Luminosite v-if="this.$store.state.lumis1 && !this.$store.state.compar" v-bind:res="resm1" v-bind:nb="1"/>
    </div>
    <div class="block">
      <Vitvent v-if="this.$store.state.vents1 && !this.$store.state.compar" v-bind:res="resm1" v-bind:nb="1"/>
    </div>
    <div class="block">
      <Posgps v-if="this.$store.state.gpss1 && !this.$store.state.compar" v-bind:res="resl1" v-bind:nb="1"/>
    </div>
    <div class="block">
      <Temperature v-if="this.$store.state.temps2 && !this.$store.state.compar" v-bind:res="resm2" v-bind:nb="2"/>
    </div>
    <div class="block">
      <Hygrometrie v-if="this.$store.state.hygros2 && !this.$store.state.compar" v-bind:res="resm2" v-bind:nb="2"/>
    </div>
    <div class="block">
      <Pression v-if="this.$store.state.presss2 && !this.$store.state.compar" v-bind:res="resm2" v-bind:nb="2"/>
    </div>
    <div class="block">
      <Pluviometrie v-if="this.$store.state.pluvios2 && !this.$store.state.compar" v-bind:res="tab2" v-bind:resr="resr2" v-bind:nb="2"/>
    </div>
    <div class="block">
      <Luminosite v-if="this.$store.state.lumis2 && !this.$store.state.compar" v-bind:res="resm2" v-bind:nb="2"/>
    </div>
    <div class="block">
      <Vitvent v-if="this.$store.state.vents2 && !this.$store.state.compar" v-bind:res="resm2" v-bind:nb="2"/>
    </div>
    <div class="block">
      <Posgps v-if="this.$store.state.gpss2 && !this.$store.state.compar" v-bind:res="resl2" v-bind:nb="2"/>
    </div>
    <div class="block">
      <Temperature v-if="this.$store.state.temps3 && !this.$store.state.compar" v-bind:res="resm3" v-bind:nb="3"/>
    </div>
    <div class="block">
      <Hygrometrie v-if="this.$store.state.hygros3 && !this.$store.state.compar" v-bind:res="resm3" v-bind:nb="3"/>
    </div>
    <div class="block">
      <Pression v-if="this.$store.state.presss3 && !this.$store.state.compar" v-bind:res="resm3" v-bind:nb="3"/>
    </div>
    <div class="block">
      <Pluviometrie v-if="this.$store.state.pluvios3 && !this.$store.state.compar" v-bind:res="tab3" v-bind:resr="resr3" v-bind:nb="3"/>
    </div>
    <div class="block">
      <Luminosite v-if="this.$store.state.lumis3 && !this.$store.state.compar" v-bind:res="resm3" v-bind:nb="3"/>
    </div>
    <div class="block">
      <Vitvent v-if="this.$store.state.vents3 && !this.$store.state.compar" v-bind:res="resm3" v-bind:nb="3"/>
    </div>
    <div class="block">
      <Posgps v-if="this.$store.state.gpss3 && !this.$store.state.compar" v-bind:res="resl3" v-bind:nb="3"/>
    </div>
    <div class="block">
      <Temperature v-if="this.$store.state.temps4 && !this.$store.state.compar" v-bind:res="resm4" v-bind:nb="4"/>
    </div>
    <div class="block">
      <Hygrometrie v-if="this.$store.state.hygros4 && !this.$store.state.compar" v-bind:res="resm4" v-bind:nb="4"/>
    </div>
    <div class="block">
      <Pression v-if="this.$store.state.presss4 && !this.$store.state.compar" v-bind:res="resm4" v-bind:nb="4"/>
    </div>
    <div class="block">
      <Pluviometrie v-if="this.$store.state.pluvios4 && !this.$store.state.compar" v-bind:res="tab4" v-bind:resr="resr4" v-bind:nb="4"/>
    </div>
    <div class="block">
      <Luminosite v-if="this.$store.state.lumis4 && !this.$store.state.compar" v-bind:res="resm4" v-bind:nb="4"/>
    </div>
    <div class="block">
      <Vitvent v-if="this.$store.state.vents4 && !this.$store.state.compar" v-bind:res="resm4" v-bind:nb="4"/>
    </div>
    <div class="block">
      <Posgps v-if="this.$store.state.gpss4 && !this.$store.state.compar" v-bind:res="resl4" v-bind:nb="4"/>
    </div>
    <div class="block">
      <Temperature v-if="this.$store.state.temps5 && !this.$store.state.compar" v-bind:res="resm5" v-bind:nb="5"/>
    </div>
    <div class="block">
      <Hygrometrie v-if="this.$store.state.hygros5 && !this.$store.state.compar" v-bind:res="resm5" v-bind:nb="5"/>
    </div>
    <div class="block">
      <Pression v-if="this.$store.state.presss5 && !this.$store.state.compar" v-bind:res="resm5" v-bind:nb="5"/>
    </div>
    <div class="block">
      <Pluviometrie v-if="this.$store.state.pluvios5 && !this.$store.state.compar" v-bind:res="tab5" v-bind:resr="resr5" v-bind:nb="5"/>
    </div>
    <div class="block">
      <Luminosite v-if="this.$store.state.lumis5 && !this.$store.state.compar" v-bind:res="resm5" v-bind:nb="5"/>
    </div>
    <div class="block">
      <Vitvent v-if="this.$store.state.vents5 && !this.$store.state.compar" v-bind:res="resm5" v-bind:nb="5"/>
    </div>
    <div class="block">
      <Posgps v-if="this.$store.state.gpss5 && !this.$store.state.compar" v-bind:res="resl5" v-bind:nb="5"/>
    </div>
    <div class="block">
      <CompTemp v-if="this.$store.state.compar && this.$store.state.temperature" v-bind:res1="resm1" v-bind:res2="resm2" v-bind:res3="resm3" v-bind:res4="resm4" v-bind:res5="resm5"/>
    </div>
    <div class="block">
        <CompPression v-if="this.$store.state.compar && this.$store.state.pression" v-bind:res1="resm1" v-bind:res2="resm2" v-bind:res3="resm3" v-bind:res4="resm4" v-bind:res5="resm5"/>
    </div>
    <div class="block">
        <CompHygro v-if="this.$store.state.compar && this.$store.state.hygrometrie" v-bind:res1="resm1" v-bind:res2="resm2" v-bind:res3="resm3" v-bind:res4="resm4" v-bind:res5="resm5"/>
    </div>
    <div class="block">
        <CompLumi v-if="this.$store.state.compar && this.$store.state.luminosite" v-bind:res1="resm1" v-bind:res2="resm2" v-bind:res3="resm3" v-bind:res4="resm4" v-bind:res5="resm5"/>
    </div>
    <div class="block">
        <CompPluvi v-if="this.$store.state.compar && this.$store.state.pluviometrie" v-bind:res1="tab1" v-bind:res2="tab2" v-bind:res3="tab3" v-bind:res4="tab4" v-bind:res5="tab5" v-bind:resr="resr1"/>
    </div>
    <div class="block">
        <CompVent v-if="this.$store.state.compar && this.$store.state.vitvent" v-bind:res1="resm1" v-bind:res2="resm2" v-bind:res3="resm3" v-bind:res4="resm4" v-bind:res5="resm5"/>
    </div>
  </div>
</template>

<script>
import Carte from '@/components/Carte'
import Temperature from '@/components/Temperature'
import Hygrometrie from '@/components/Hygrometrie'
import Pression from '@/components/Pression'
import Pluviometrie from '@/components/Pluviometrie'
import Luminosite from '@/components/Luminosite'
import Vitvent from '@/components/Vitvent'
import Posgps from '@/components/Posgps'
import CompTemp from '@/components/CompTemp'
import CompPression from '@/components/CompPression'
import CompHygro from '@/components/CompHygro'
import CompLumi from '@/components/CompLumi'
import CompPluvi from '@/components/CompPluvi'
import CompVent from '@/components/CompVent'
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

export default {
  name: 'Corps',
  data: () => ({
    resm1: {},
    resl1: {},
    resr1: {},
    rest1: {},
    tab1: [],
    tab2: [],
    tab3: [],
    tab4: [],
    tab5: [],
    resm2: {},
    resl2: {},
    resr2: {},
    resm3: {},
    resl3: {},
    resr3: {},
    resm4: {},
    resl4: {},
    resr4: {},
    resm5: {},
    resl5: {},
    resr5: {}
  }),
  created () {
    this.axios.get('http://172.31.43.58:3000/last')
      .then(response => {
        this.resm1 = response.data.measurements
        this.resl1 = response.data.location
        this.resr1 = response.data.rainfall
        var tab = [0, 0, 0, 0, 0, 0]
        var d = (this.resr1[0].date).split('T')
        var d1, d2
        var t = 'http://172.31.43.58:3000/interval/rainfall?start='
        for (let i = 0; i < 6; i++) {
          var j = i * 4
          if (j === 0 || j === 4 || j === 8) {
            d1 = 'T0' + j + ':00:00.000Z'
          } else {
            d1 = 'T' + j + ':00:00.000Z'
          }
          var h = (i + 1) * 4 - 1
          if (h === 3 || h === 7) {
            d2 = 'T0' + h + ':59:59.999Z'
          } else {
            d2 = 'T' + h + ':59:59.999Z'
          }
          var time = t + d[0] + d1 + '&stop=' + d[0] + d2
          this.axios.get(time)
            .then(resp => {
              tab[i] = resp.data.length
            })
        }
        this.tab1 = tab
      })
    this.axios.get('http://172.31.43.61:3000/last')
      .then(response => {
        this.resm3 = response.data.measurements
        this.resl3 = response.data.location
        this.resr3 = response.data.rainfall
        var tab = [0, 0, 0, 0, 0, 0]
        var d = (this.resr3[0].date).split('T')
        var d1, d2
        var t = 'http://172.31.43.61:3000/interval/rainfall?start='
        for (let i = 0; i < 6; i++) {
          var j = i * 4
          if (j === 0 || j === 4 || j === 8) {
            d1 = 'T0' + j + ':00:00.000Z'
          } else {
            d1 = 'T' + j + ':00:00.000Z'
          }
          var h = (i + 1) * 4 - 1
          if (h === 3 || h === 7) {
            d2 = 'T0' + h + ':59:59.999Z'
          } else {
            d2 = 'T' + h + ':59:59.999Z'
          }
          var time = t + d[0] + d1 + '&stop=' + d[0] + d2
          this.axios.get(time)
            .then(resp => {
              tab[i] = resp.data.rainfall.length
            })
        }
        this.tab3 = tab
      })
    this.axios.get('http://172.31.43.65:3000/last')
      .then(response => {
        this.resm5 = response.data.measurements
        this.resl5 = response.data.location
        this.resr5 = response.data.rainfall
        var tab = [0, 0, 0, 0, 0, 0]
        var d = (this.resr5[0].date).split('T')
        var d1, d2
        var t = 'http://172.31.43.65:3000/interval/rainfall?start='
        for (let i = 0; i < 6; i++) {
          var j = i * 4
          if (j === 0 || j === 4 || j === 8) {
            d1 = 'T0' + j + ':00:00.000Z'
          } else {
            d1 = 'T' + j + ':00:00.000Z'
          }
          var h = (i + 1) * 4 - 1
          if (h === 3 || h === 7) {
            d2 = 'T0' + h + ':59:59.999Z'
          } else {
            d2 = 'T' + h + ':59:59.999Z'
          }
          var time = t + d[0] + d1 + '&stop=' + d[0] + d2
          this.axios.get(time)
            .then(resp => {
              tab[i] = resp.data.length
            })
        }
        this.tab5 = tab
      })
    this.axios.get('http://172.31.58.22:3000/last')
      .then(response => {
        this.resm4 = response.data.measurements
        console.log(this.resm4)
        this.resl4 = response.data.location
        this.resr4 = response.data.rainfall
        var tab = [0, 0, 0, 0, 0, 0]
        console.log(tab)
        var d = (this.resr4[0].date).split('T')
        var d1, d2
        var t = 'http://172.31.58.22:3000/interval/rainfall?start='
        for (let i = 0; i < 6; i++) {
          var j = i * 4
          if (j === 0 || j === 4 || j === 8) {
            d1 = 'T0' + j + ':00:00.000Z'
          } else {
            d1 = 'T' + j + ':00:00.000Z'
          }
          var h = (i + 1) * 4 - 1
          if (h === 3 || h === 7) {
            d2 = 'T0' + h + ':59:59.999Z'
          } else {
            d2 = 'T' + h + ':59:59.999Z'
          }
          var time = t + d[0] + d1 + '&stop=' + d[0] + d2
          this.axios.get(time)
            .then(resp => {
              tab[i] = resp.data.rainfall.length
            })
        }
        this.tab4 = tab
      })
    this.axios.get('http://172.31.43.60:3000/last')
      .then(response => {
        this.resm2 = response.data.measurements
        this.resl2 = response.data.location
        this.resr2 = response.data.rainfall
        var tab = [0, 0, 0, 0, 0, 0]
        var d = (this.resr2[0].date).split('T')
        var d1, d2
        var t = 'http://172.31.43.60:3000/interval/rainfall?start='
        for (let i = 0; i < 6; i++) {
          var j = i * 4
          if (j === 0 || j === 4 || j === 8) {
            d1 = 'T0' + j + ':00:00.000Z'
          } else {
            d1 = 'T' + j + ':00:00.000Z'
          }
          var h = (i + 1) * 4 - 1
          if (h === 3 || h === 7) {
            d2 = 'T0' + h + ':59:59.999Z'
          } else {
            d2 = 'T' + h + ':59:59.999Z'
          }
          var time = t + d[0] + d1 + '&stop=' + d[0] + d2
          this.axios.get(time)
            .then(resp => {
              tab[i] = resp.data.rainfall.length
            })
        }
        this.tab2 = tab
      })
  },
  components: {
    Carte,
    Temperature,
    Hygrometrie,
    Pression,
    Pluviometrie,
    Luminosite,
    Vitvent,
    Posgps,
    CompTemp,
    CompPression,
    CompPluvi,
    CompLumi,
    CompVent,
    CompHygro
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#div2{
  width: 80%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.block{
  position: relative;
  margin: 2px;
}
</style>
