<template>
  <div id="menu">
    <!--<router-link to="/toto">vers toto</router-link>-->
    <form class="" action="index.html" method="post">
      <label class="container">Carte
        <input type="checkbox" checked="checked" @change="visibiliteCarte">
        <span class="checkmark"></span>
      </label>
      <label  class="titre" v-on:click="visibiliteSonde">Sondes</label><br><br>
      <div  v-if="visibiliteS" id="sondes">
        <label class="container">Sonde 1
          <input type="checkbox" @change="sondeAddRem('1')" checked>
          <span class="checkmark"></span>
        </label>
        <label class="container">Sonde 2
          <input type="checkbox" @change="sondeAddRem('2')">
          <span class="checkmark"></span>
        </label>
        <label class="container">Sonde 3
          <input type="checkbox" @change="sondeAddRem('3')">
          <span class="checkmark"></span>
        </label>
        <label class="container">Sonde 4
          <input type="checkbox" @change="sondeAddRem('4')">
          <span class="checkmark"></span>
        </label>
        <label class="container">Sonde 5
          <input type="checkbox" @change="sondeAddRem('5')">
          <span class="checkmark"></span>
        </label>
      </div>
      <label class="titre" v-on:click="visibiliteData">Données</label><br><br>
      <div v-if="visibiliteD" id="data">
        <label class="container">Température
          <input type="checkbox" @change="temp" checked>
          <span class="checkmark"></span>
        </label>
        <label class="container">Hygrométrie
          <input type="checkbox" @change="hygro" checked>
          <span class="checkmark"></span>
        </label>
        <label class="container">Pression Atmosphérique
          <input type="checkbox" @change="press" checked>
          <span class="checkmark"></span>
        </label>
        <label class="container">Pluviométrie
          <input type="checkbox" @change="pluvio" >
          <span class="checkmark"></span>
        </label>
        <label class="container">Luminosité
          <input type="checkbox" @change="lumi" checked>
          <span class="checkmark"></span>
        </label>
        <label class="container">Vitesse / <br>direction du vent
          <input type="checkbox" @change="vent" checked>
          <span class="checkmark"></span>
        </label>
        <label class="container">Position GPS
          <input type="checkbox" @change="gps" checked>
          <span class="checkmark"></span>
        </label>
      </div>
      <label class="titre" v-on:click="visibiliteComp">Analyse</label>
      <div v-if="visibiliteC" id="comparitif">
        <label class="container">Comparitif
          <input type="checkbox" @change="compar">
          <span class="checkmark"></span>
        </label>
        <label class="containerr">Instantanée
          <input type="radio" name="compa" v-on:change="cocheInst">
          <span class="checkmarkr"></span>
        </label>
        <input type="date" name="date" v-if="cocheI">
        <label class="containerr">Période
          <input type="radio" name="compa" v-on:change="cochePer">
          <span class="checkmarkr"></span>
        </label>
        <label v-if="cocheP">Début</label>
        <input type="date" name="date" v-if="cocheP">
        <label v-if="cocheP">Fin</label>
        <input type="date" name="date" v-if="cocheP">

      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  data: function () {
    return {
      visibilitesonde: false,
      visibilitedata: false,
      visibilitecomp: false,
      cocheinst: false,
      cocheper: false
    }
  },
  computed: {
    visibiliteS () {
      if (this.visibilitesonde === false) {
        return false
      }
      return true
    },
    visibiliteD () {
      if (this.visibilitedata === false) {
        return false
      }
      return true
    },
    visibiliteC () {
      if (this.visibilitecomp === false) {
        return false
      }
      return true
    },
    cocheI () {
      if (this.cocheinst === false) {
        return false
      }
      return true
    },
    cocheP () {
      if (this.cocheper === false) {
        return false
      }
      return true
    }
  },
  methods: {
    visibiliteCarte () {
      this.$store.commit('visibiliteCarte')
    },
    visibiliteSonde () {
      if (this.visibilitesonde === false) {
        this.visibilitesonde = true
      } else {
        this.visibilitesonde = false
      }
    },
    visibiliteData () {
      if (this.visibilitedata === false) {
        this.visibilitedata = true
      } else {
        this.visibilitedata = false
      }
    },
    visibiliteComp () {
      if (this.visibilitecomp === false) {
        this.visibilitecomp = true
      } else {
        this.visibilitecomp = false
      }
    },
    cocheInst () {
      this.cocheper = false
      if (this.cocheinst === false) {
        this.cocheinst = true
      } else {
        this.cocheinst = false
      }
    },
    cochePer () {
      this.cocheinst = false
      if (this.cocheper === false) {
        this.cocheper = true
      } else {
        this.cocheper = false
      }
    },
    sondeAddRem (car) {
      if (car === '1') {
        this.$store.commit('sonde1state')
        this.$store.commit('etat1')
      }
      if (car === '2') {
        this.$store.commit('sonde2state')
        this.$store.commit('etat2')
      }
      if (car === '3') {
        this.$store.commit('sonde3state')
        this.$store.commit('etat3')
      }
      if (car === '4') {
        this.$store.commit('sonde4state')
        this.$store.commit('etat4')
      }
      if (car === '5') {
        this.$store.commit('sonde5state')
        this.$store.commit('etat5')
      }
      this.$store.commit('sondesChoix', car)
    },
    temp () {
      this.$store.commit('tempAff')
      this.$store.commit('etat1')
      this.$store.commit('etat2')
      this.$store.commit('etat3')
      this.$store.commit('etat4')
      this.$store.commit('etat5')
    },
    hygro () {
      this.$store.commit('hygroAff')
      this.$store.commit('etat1')
      this.$store.commit('etat2')
      this.$store.commit('etat3')
      this.$store.commit('etat4')
      this.$store.commit('etat5')
    },
    press () {
      this.$store.commit('pressAff')
      this.$store.commit('etat1')
      this.$store.commit('etat2')
      this.$store.commit('etat3')
      this.$store.commit('etat4')
      this.$store.commit('etat5')
    },
    pluvio () {
      this.$store.commit('pluvioAff')
      this.$store.commit('etat1')
      this.$store.commit('etat2')
      this.$store.commit('etat3')
      this.$store.commit('etat4')
      this.$store.commit('etat5')
    },
    lumi () {
      this.$store.commit('lumiAff')
      this.$store.commit('etat1')
      this.$store.commit('etat2')
      this.$store.commit('etat3')
      this.$store.commit('etat4')
      this.$store.commit('etat5')
    },
    vent () {
      this.$store.commit('ventAff')
      this.$store.commit('etat1')
      this.$store.commit('etat2')
      this.$store.commit('etat3')
      this.$store.commit('etat4')
      this.$store.commit('etat5')
    },
    gps () {
      this.$store.commit('gpsAff')
      this.$store.commit('etat1')
      this.$store.commit('etat2')
      this.$store.commit('etat3')
      this.$store.commit('etat4')
      this.$store.commit('etat5')
    },
    compar () {
      this.$store.commit('comparAff')
      this.$store.commit('etat1')
      this.$store.commit('etat2')
      this.$store.commit('etat3')
      this.$store.commit('etat4')
      this.$store.commit('etat5')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#menu{
  background-color: teal;
  width: 250px;
  height: 800px;
  margin-top: 120px;
}

.titre{
  font-size: 18px;
  font-family: Comic Sans MS;
  font-weight: bold;
}

form{
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  font-family: Comic Sans MS;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: Gainsboro;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}*/

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid teal;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*RADIO*/
/* Customize the label (the container) */
.containerr {
  display: block;
  position: relative;
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  font-family: Comic Sans MS;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containerr input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmarkr {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: Gainsboro;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerr:hover input ~ .checkmarkr {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerr input:checked ~ .checkmarkr {
  background-color: Gainsboro;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkr:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerr input:checked ~ .checkmarkr:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerr .checkmarkr:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: Teal;
}

</style>
