<template>
  <div id="pluvio">
    <h1>Pluviometrie</h1>
    <h2>Sonde {{nb}}</h2>
    <vue-c3 id="c3" :handler="handler"></vue-c3>
    <p class="dateE">{{(resr[0].date).split('T')[0]}}</p>
  </div>
</template>

<script>
import Vue from 'vue'
import VueC3 from 'vue-c3'

export default {
  name: 'Pluviometrie',
  props: ['res', 'nb', 'resr'],
  components: {
    VueC3
  },
  data () {
    return {
      handler: new Vue()
    }
  },
  mounted () {
    // to init the graph call:
    const options = {
      data: {
        columns: [
          ['pluviometrie', parseFloat(this.res[0]), parseFloat(this.res[1]), parseFloat(this.res[2]), parseFloat(this.res[3]), parseFloat(this.res[4]), parseFloat(this.res[5])]
        ],
        types: {
          pluviometrie: 'bar'
        },
        colors: {
          pluviometrie: 'teal'
        }
      },
      axis: {
        x: {
          type: 'category',
          categories: ['00-04h', '04-08h', '08-12h', '12-16h', '16-20h', '20-24h']
        },
        y: {
          label: {
            text: 'nb of fall',
            position: 'outer-middle'
          }
        }
      }
    }
    this.handler.$emit('init', options)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#pluvio {
  width: 465px;
  height: 250px;
  position: relative;
  background-color: Gainsboro;
  border-radius: 5px;
}
#c3{
  width: 461px;
  height: 170px;
  position: absolute;
  left: 0px;
  bottom: 20px;
}
h1{
  text-align: center;
  margin-top: 3px;
  font-family: Comic Sans MS;
  font-size: 25px;
}
h2{
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 20px;
}
p{
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 40px;
  margin-top: 60px;
}
.dateE{
  text-align: right;
  font-size: 10px;
  margin-top: -30px;
  margin-right: 2px;
}
</style>
