<template>
  <div id="gps">
    <h1>Position GPS</h1>
    <h2>Sonde {{nb}}</h2>
    <p class="loc">Lat : {{parseFloat(res[0].latitude).toFixed(5)}}°</p>
    <p id="loc2" class="loc">Lon : {{parseFloat(res[0].longitude).toFixed(5)}}°</p>
    <p class="dateE">{{res[0].date}}</p>
  </div>
</template>

<script>
export default {
  name: 'Posgps',
  props: ['res', 'nb']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#gps {
  width: 230px;
  height: 250px;
  position: relative;
  background-color: Gainsboro;
  border-radius: 5px;
}
h1{
  text-align: center;
  margin-top: 3px;
  font-family: Comic Sans MS;
  font-size: 25px;
}
h2{
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 20px;
}
p{
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 40px;
  margin-top: 60px;
}
.loc{
  font-size: 30px;
  margin-top: -5px;
}
#loc2 {
  margin-top: -5px;
}
.dateE{
  text-align: right;
  font-size: 10px;
  margin-top: 35px;
  margin-right: 2px;
}
</style>
