<template>
  <div id="vent">
    <h1>Vent</h1>
    <h2>Sonde {{nb}}</h2>
    <p>{{Math.round(res[0].wind_heading)}} °</p>
    <p id="vent2">{{res[0].wind_speed_avg}} m/s</p>
    <p class="dateE">{{res[0].date}}</p>
  </div>
</template>

<script>
export default {
  name: 'Vitvent',
  props: ['res', 'nb']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#vent {
  width: 230px;
  height: 250px;
  position: relative;
  background-color: Gainsboro;
  border-radius: 5px;
}
h1{
  text-align: center;
  margin-top: 3px;
  font-family: Comic Sans MS;
  font-size: 25px;
}
h2{
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 20px;
}
p{
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 40px;
  margin-top: 30px;
}
#vent2{
  margin-top: -30px;
}
.dateE{
  text-align: right;
  font-size: 10px;
  margin-top: -36px;
  margin-right: 2px;
}
</style>
