<template>
  <div id="app">
    <img src="./assets/logo2.png">
    <Menu />
    <router-view/>
  </div>
</template>

<script>
import Menu from '@/components/Menu'
export default {
  name: 'App',
  components: {
    Menu
  }
}
</script>

<style>
img{
  position: absolute;
  width: 250px;
  top: -10px;
  left: 0px;
}
#app{
  display: flex;
}
</style>
